canvas {
    display: block;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px black solid;

}

@media screen and (min-width: 1200px) {
    /* Styles for Desktops */
    .charts-container {
        display: grid;
        grid-template-columns: repeat(2, 500px);
        gap: 10px;
    }
  }